[Desktop Entry]
Name=GSpoof
Comment=GTK+ TCP/IP Packet forger
Exec=gspoof-gtk
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/gspoof.png
Categories=GTK;Network;
